In [1]:
!pip install pandas mysql-connector-python streamlit plotly gitpython

Collecting pandas
  Downloading pandas-3.0.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (79 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (11 kB)
Collecting streamlit
  Downloading streamlit-1.54.0-py3-none-any.whl.metadata (9.8 kB)
Collecting plotly
  Downloading plotly-6.5.2-py3-none-any.whl.metadata (8.5 kB)
Collecting gitpython
  Downloading gitpython-3.1.46-py3-none-any.whl.metadata (13 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp313-cp313-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting altair!=5.4.0,!=5.4.1,<7,>=4.0 (from streamlit)
  Downloading altair-6.0.0-py3-none-any.whl.metadata (11 kB)
Collecting blinker<2,>=1.5.0 (from streamlit)
  Using cached blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Collecting cachetools<7,>=5.5 (from streamlit)
  Downloading cachetools-6.2.6-py3-none-any.whl.metadata (5.6 kB)
Collecting click<9,>=7.0 (from streamlit)
  Downloading click-8.3.1-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: packaging>=20 in ./venv/lib/python3.13/site-packages (from streamlit) (26.0)
Collecting pandas
  Using cached pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting pillow<13,>=7.1.0 (from streamlit)
  Downloading pillow-12.1.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (8.8 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Using cached pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Collecting protobuf<7,>=3.20 (from streamlit)
  Downloading protobuf-6.33.5-cp39-abi3-macosx_10_9_universal2.whl.metadata (593 bytes)
Collecting pyarrow>=7.0 (from streamlit)
  Downloading pyarrow-23.0.1-cp313-cp313-macosx_12_0_arm64.whl.metadata (3.1 kB)
Requirement already satisfied: requests<3,>=2.27 in ./venv/lib/python3.13/site-packages (from streamlit) (2.32.5)
Collecting tenacity<10,>=8.1.0 (from streamlit)
  Downloading tenacity-9.1.4-py3-none-any.whl.metadata (1.2 kB)
Collecting toml<2,>=0.10.1 (from streamlit)
  Using cached toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in ./venv/lib/python3.13/site-packages (from streamlit) (6.5.4)
Requirement already satisfied: typing-extensions<5,>=4.10.0 in ./venv/lib/python3.13/site-packages (from streamlit) (4.15.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.13/site-packages (from pandas) (2025.3)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-2.16.0-py3-none-any.whl.metadata (14 kB)
Collecting gitdb<5,>=4.0.1 (from gitpython)
  Using cached gitdb-4.0.12-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: jinja2 in ./venv/lib/python3.13/site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in ./venv/lib/python3.13/site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (4.26.0)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython)
  Using cached smmap-5.0.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in ./venv/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2026.1.4)
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib/python3.13/site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in ./venv/lib/python3.13/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./venv/lib/python3.13/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in ./venv/lib/python3.13/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in ./venv/lib/python3.13/site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.30.0)
Downloading mysql_connector_python-9.6.0-cp313-cp313-macosx_14_0_arm64.whl (17.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 25.9 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading streamlit-1.54.0-py3-none-any.whl (9.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 44.7 MB/s eta 0:00:00
Using cached pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
Downloading plotly-6.5.2-py3-none-any.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 38.3 MB/s eta 0:00:0031m39.2 MB/s eta 0:00:01
Downloading gitpython-3.1.46-py3-none-any.whl (208 kB)
Downloading altair-6.0.0-py3-none-any.whl (795 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 795.4/795.4 kB 30.1 MB/s eta 0:00:00
Using cached blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading cachetools-6.2.6-py3-none-any.whl (11 kB)
Downloading click-8.3.1-py3-none-any.whl (108 kB)
Using cached gitdb-4.0.12-py3-none-any.whl (62 kB)
Downloading narwhals-2.16.0-py3-none-any.whl (443 kB)
Downloading numpy-2.4.2-cp313-cp313-macosx_14_0_arm64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 43.0 MB/s eta 0:00:00
Downloading pillow-12.1.1-cp313-cp313-macosx_11_0_arm64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 44.9 MB/s eta 0:00:00
Downloading protobuf-6.33.5-cp39-abi3-macosx_10_9_universal2.whl (427 kB)
Downloading pyarrow-23.0.1-cp313-cp313-macosx_12_0_arm64.whl (34.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.2/34.2 MB 39.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tenacity-9.1.4-py3-none-any.whl (28 kB)
Using cached toml-0.10.2-py2.py3-none-any.whl (16 kB)
Using cached smmap-5.0.2-py3-none-any.whl (24 kB)
Installing collected packages: pytz, toml, tenacity, smmap, pyarrow, protobuf, pillow, numpy, narwhals, mysql-connector-python, click, cachetools, blinker, pydeck, plotly, pandas, gitdb, gitpython, altair, streamlit
Successfully installed altair-6.0.0 blinker-1.9.0 cachetools-6.2.6 click-8.3.1 gitdb-4.0.12 gitpython-3.1.46 mysql-connector-python-9.6.0 narwhals-2.16.0 numpy-2.4.2 pandas-2.3.3 pillow-12.1.1 plotly-6.5.2 protobuf-6.33.5 pyarrow-23.0.1 pydeck-0.9.1 pytz-2025.2 smmap-5.0.2 streamlit-1.54.0 tenacity-9.1.4 toml-0.10.2

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import os

repo_url = "https://github.com/PhonePe/pulse.git"
clone_path = "phonepe_data"

if not os.path.exists(clone_path):
    os.system(f"git clone {repo_url} {clone_path}")
    print("Cloning done!")
else:
    print("Data already exists!")

Cloning into 'phonepe_data'...

Cloning done!

Updating files: 100% (9029/9029), done.

In [3]:
import json

file_path = "phonepe_data/data/aggregated/transaction/country/india/2018/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "from": 1514745000000,
    "to": 1522175400000,
    "transactionData": [
      {
        "name": "Recharge & bill payments",
        "paymentInstruments": [
          {
            "type": "TOTAL",
            "count": 72550406,
            "amount": 14472713558.652578
          }
        ]
      },
      {
        "name": "Peer-to-peer payments",
        "paymentInstruments": [
          {
            "type": "TOTAL",
            "count": 46982705,
            "amount": 147245883542.77402
          }
        ]
      },
      {
        "name": "Merchant payments",
        "paymentInstruments": [
          {
            "type": "TOTAL",
            "count": 5368669,
            "amount": 4656678915.140091
          }
        ]
      },
      {
        "name": "Financial Services",
        "paymentInstruments": [
          {
            "type": "TOTAL",
            "count": 3762820,
            "amount": 815853105.1000277
          }
        ]
      },
      {
        "name": "Others",
        "paymentInstruments": [
          {
            "type": "TOTAL",
            "count": 5761576,
            "amount": 4643217301.269438
          }
        ]
      }
    ]
  },
  "responseTimestamp": 1630346628866
}

In [4]:
import os
import json
import pandas as pd

In [6]:
def extract_aggregated_transaction_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    transactions = data["data"]["transactionData"]
                    
                    for transaction in transactions:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "transaction_type": transaction["name"],
                            "transaction_count": transaction["paymentInstruments"][0]["count"],
                            "transaction_amount": transaction["paymentInstruments"][0]["amount"]
                        })
    
    return pd.DataFrame(records)

In [19]:
data_path = "phonepe_data/data/aggregated/transaction/country/india/state"

df_aggregated_transaction = extract_aggregated_transaction_data(data_path)

print(df_aggregated_transaction.shape)
print(df_aggregated_transaction.head())

(5034, 6)
                       state  year  quarter          transaction_type  \
0  andaman-&-nicobar-islands  2022        1     Peer-to-peer payments
1  andaman-&-nicobar-islands  2022        1         Merchant payments
2  andaman-&-nicobar-islands  2022        1  Recharge & bill payments
3  andaman-&-nicobar-islands  2022        1        Financial Services
4  andaman-&-nicobar-islands  2022        1                    Others

   transaction_count  transaction_amount
0             342649        1.682329e+09
1             284298        3.700916e+08
2             163401        7.130013e+07
3               1757        2.869682e+06
4               2643        2.440322e+06

In [18]:
for item in os.listdir("phonepe_data/data/aggregated/transaction/country/india"):
    print(item)

2022
2024
2023
state
2019
2021
2020
2018

In [20]:
import sqlite3

conn = sqlite3.connect("phonepe_pulse.db")
print("Database connected successfully!")

Database connected successfully!

In [21]:
df_aggregated_transaction.to_sql(
    "aggregated_transaction",
    conn,
    if_exists="replace",
    index=False
)

print("Data saved successfully!")

Data saved successfully!

In [22]:
df_check = pd.read_sql("SELECT * FROM aggregated_transaction LIMIT 5", conn)
print(df_check)

                       state  year  quarter          transaction_type  \
0  andaman-&-nicobar-islands  2022        1     Peer-to-peer payments
1  andaman-&-nicobar-islands  2022        1         Merchant payments
2  andaman-&-nicobar-islands  2022        1  Recharge & bill payments
3  andaman-&-nicobar-islands  2022        1        Financial Services
4  andaman-&-nicobar-islands  2022        1                    Others

   transaction_count  transaction_amount
0             342649        1.682329e+09
1             284298        3.700916e+08
2             163401        7.130013e+07
3               1757        2.869682e+06
4               2643        2.440322e+06

In [23]:
file_path = "phonepe_data/data/aggregated/user/country/india/state/andaman-&-nicobar-islands/2022/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "aggregated": {
      "registeredUsers": 76288,
      "appOpens": 3847407
    },
    "usersByDevice": [
      {
        "brand": "Vivo",
        "count": 18688,
        "percentage": 0.24496644295302014
      },
      {
        "brand": "Xiaomi",
        "count": 17957,
        "percentage": 0.23538433305369127
      },
      {
        "brand": "Samsung",
        "count": 12955,
        "percentage": 0.16981700922818793
      },
      {
        "brand": "Realme",
        "count": 6769,
        "percentage": 0.08872955117449664
      },
      {
        "brand": "Oppo",
        "count": 6461,
        "percentage": 0.08469221895973154
      },
      {
        "brand": "OnePlus",
        "count": 3005,
        "percentage": 0.039390205536912755
      },
      {
        "brand": "Tecno",
        "count": 1770,
        "percentage": 0.02320155201342282
      },
      {
        "brand": "Apple",
        "count": 1634,
        "percentage": 0.02141883389261745
      },
      {
        "brand": "Huawei",
        "count": 1441,
        "percentage": 0.018888947147651006
      },
      {
        "brand": "Motorola",
        "count": 1050,
        "percentage": 0.01376363255033557
      },
      {
        "brand": "Others",
        "count": 4558,
        "percentage": 0.05974727348993288
      }
    ]
  },
  "responseTimestamp": 1651127651906
}

In [24]:
def extract_aggregated_user_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    records.append({
                        "state": state,
                        "year": int(year),
                        "quarter": quarter,
                        "registered_users": data["data"]["aggregated"]["registeredUsers"],
                        "app_opens": data["data"]["aggregated"]["appOpens"]
                    })
    
    return pd.DataFrame(records)

In [25]:
user_data_path = "phonepe_data/data/aggregated/user/country/india/state"

df_aggregated_user = extract_aggregated_user_data(user_data_path)

print(df_aggregated_user.shape)
print(df_aggregated_user.head())

(1008, 5)
                       state  year  quarter  registered_users  app_opens
0  andaman-&-nicobar-islands  2022        1             76288    3847407
1  andaman-&-nicobar-islands  2022        2             80530    5180013
2  andaman-&-nicobar-islands  2022        3             84642    6068354
3  andaman-&-nicobar-islands  2022        4             88442    4354093
4  andaman-&-nicobar-islands  2024        1            108411   28538751

In [26]:
df_aggregated_user.to_sql(
    "aggregated_user",
    conn,
    if_exists="replace",
    index=False
)

print("User data saved!")

User data saved!

In [27]:
file_path = "phonepe_data/data/map/transaction/hover/country/india/state/andaman-&-nicobar-islands/2022/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "hoverDataList": [
      {
        "name": "north and middle andaman district",
        "metric": [
          {
            "type": "TOTAL",
            "count": 60059,
            "amount": 161624878.52274162
          }
        ]
      },
      {
        "name": "south andaman district",
        "metric": [
          {
            "type": "TOTAL",
            "count": 705512,
            "amount": 1872991195.902684
          }
        ]
      },
      {
        "name": "nicobars district",
        "metric": [
          {
            "type": "TOTAL",
            "count": 29177,
            "amount": 94414127.64974089
          }
        ]
      }
    ]
  },
  "responseTimestamp": 1651127589910
}

In [29]:
def extract_map_transaction_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    districts = data["data"]["hoverDataList"]
                    
                    for district in districts:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "district": district["name"],
                            "transaction_count": district["metric"][0]["count"],
                            "transaction_amount": district["metric"][0]["amount"]
                        })
    
    return pd.DataFrame(records)

In [30]:
map_transaction_path = "phonepe_data/data/map/transaction/hover/country/india/state"

df_map_transaction = extract_map_transaction_data(map_transaction_path)

print(df_map_transaction.shape)
print(df_map_transaction.head())

(20604, 6)
                       state  year  quarter  \
0  andaman-&-nicobar-islands  2022        1
1  andaman-&-nicobar-islands  2022        1
2  andaman-&-nicobar-islands  2022        1
3  andaman-&-nicobar-islands  2022        2
4  andaman-&-nicobar-islands  2022        2

                            district  transaction_count  transaction_amount
0  north and middle andaman district              60059        1.616249e+08
1             south andaman district             705512        1.872991e+09
2                  nicobars district              29177        9.441413e+07
3  north and middle andaman district              72573        1.956932e+08
4             south andaman district             954875        2.357327e+09

In [31]:
df_map_transaction.to_sql(
    "map_transaction",
    conn,
    if_exists="replace",
    index=False
)

print("Map transaction data saved!")

Map transaction data saved!

In [32]:
file_path = "phonepe_data/data/map/user/hover/country/india/state/andaman-&-nicobar-islands/2022/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "hoverData": {
      "north and middle andaman district": {
        "registeredUsers": 10720,
        "appOpens": 904869
      },
      "south andaman district": {
        "registeredUsers": 63487,
        "appOpens": 2368756
      },
      "nicobars district": {
        "registeredUsers": 2081,
        "appOpens": 573782
      }
    }
  },
  "responseTimestamp": 1651127651992
}

In [34]:
def extract_map_user_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    for district_name, district_data in data["data"]["hoverData"].items():
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "district": district_name,
                            "registered_users": district_data["registeredUsers"],
                            "app_opens": district_data["appOpens"]
                        })
    
    return pd.DataFrame(records)

In [35]:
map_user_path = "phonepe_data/data/map/user/hover/country/india/state"

df_map_user = extract_map_user_data(map_user_path)

print(df_map_user.shape)
print(df_map_user.head())

(20608, 6)
                       state  year  quarter  \
0  andaman-&-nicobar-islands  2022        1
1  andaman-&-nicobar-islands  2022        1
2  andaman-&-nicobar-islands  2022        1
3  andaman-&-nicobar-islands  2022        2
4  andaman-&-nicobar-islands  2022        2

                            district  registered_users  app_opens
0  north and middle andaman district             10720     904869
1             south andaman district             63487    2368756
2                  nicobars district              2081     573782
3  north and middle andaman district             11379     963824
4             south andaman district             66959    3404740

In [36]:
df_map_user.to_sql(
    "map_user",
    conn,
    if_exists="replace",
    index=False
)

print("Map user data saved!")

Map user data saved!

In [37]:
file_path = "phonepe_data/data/top/transaction/country/india/state/andaman-&-nicobar-islands/2022/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "states": null,
    "districts": [
      {
        "entityName": "south andaman",
        "metric": {
          "type": "TOTAL",
          "count": 705512,
          "amount": 1872991195.902684
        }
      },
      {
        "entityName": "north and middle andaman",
        "metric": {
          "type": "TOTAL",
          "count": 60059,
          "amount": 161624878.52274162
        }
      },
      {
        "entityName": "nicobars",
        "metric": {
          "type": "TOTAL",
          "count": 29177,
          "amount": 94414127.64974089
        }
      }
    ],
    "pincodes": [
      {
        "entityName": "744101",
        "metric": {
          "type": "TOTAL",
          "count": 209941,
          "amount": 615978080.6944855
        }
      },
      {
        "entityName": "744103",
        "metric": {
          "type": "TOTAL",
          "count": 157230,
          "amount": 399715980.1391735
        }
      },
      {
        "entityName": "744105",
        "metric": {
          "type": "TOTAL",
          "count": 122716,
          "amount": 321850608.7396423
        }
      },
      {
        "entityName": "744102",
        "metric": {
          "type": "TOTAL",
          "count": 74883,
          "amount": 193336549.94178736
        }
      },
      {
        "entityName": "744104",
        "metric": {
          "type": "TOTAL",
          "count": 32471,
          "amount": 72915521.83614868
        }
      },
      {
        "entityName": "744211",
        "metric": {
          "type": "TOTAL",
          "count": 30272,
          "amount": 86955570.58655271
        }
      },
      {
        "entityName": "744107",
        "metric": {
          "type": "TOTAL",
          "count": 25379,
          "amount": 58776727.62636636
        }
      },
      {
        "entityName": "744202",
        "metric": {
          "type": "TOTAL",
          "count": 24022,
          "amount": 68519268.77643085
        }
      },
      {
        "entityName": "744112",
        "metric": {
          "type": "TOTAL",
          "count": 23471,
          "amount": 55469783.6622991
        }
      },
      {
        "entityName": "744301",
        "metric": {
          "type": "TOTAL",
          "count": 17630,
          "amount": 56879992.28461884
        }
      }
    ]
  },
  "responseTimestamp": 1651127590011
}

In [39]:
def extract_top_transaction_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    for district in data["data"]["districts"]:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "entity_name": district["entityName"],
                            "entity_type": "district",
                            "transaction_count": district["metric"]["count"],
                            "transaction_amount": district["metric"]["amount"]
                        })
                    
                    for pincode in data["data"]["pincodes"]:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "entity_name": pincode["entityName"],
                            "entity_type": "pincode",
                            "transaction_count": pincode["metric"]["count"],
                            "transaction_amount": pincode["metric"]["amount"]
                        })
    
    return pd.DataFrame(records)

In [40]:
top_transaction_path = "phonepe_data/data/top/transaction/country/india/state"

df_top_transaction = extract_top_transaction_data(top_transaction_path)

print(df_top_transaction.shape)
print(df_top_transaction.head())

(18295, 7)
                       state  year  quarter               entity_name  \
0  andaman-&-nicobar-islands  2022        1             south andaman
1  andaman-&-nicobar-islands  2022        1  north and middle andaman
2  andaman-&-nicobar-islands  2022        1                  nicobars
3  andaman-&-nicobar-islands  2022        1                    744101
4  andaman-&-nicobar-islands  2022        1                    744103

  entity_type  transaction_count  transaction_amount
0    district             705512        1.872991e+09
1    district              60059        1.616249e+08
2    district              29177        9.441413e+07
3     pincode             209941        6.159781e+08
4     pincode             157230        3.997160e+08

In [41]:
df_top_transaction.to_sql(
    "top_transaction",
    conn,
    if_exists="replace",
    index=False
)

print("Top transaction data saved!")

Top transaction data saved!

In [42]:
file_path = "phonepe_data/data/top/user/country/india/state/andaman-&-nicobar-islands/2022/1.json"

with open(file_path, "r") as f:
    data = json.load(f)

print(json.dumps(data, indent=2))

{
  "success": true,
  "code": "SUCCESS",
  "data": {
    "states": null,
    "districts": [
      {
        "name": "south andaman",
        "registeredUsers": 63487
      },
      {
        "name": "north and middle andaman",
        "registeredUsers": 10720
      },
      {
        "name": "nicobars",
        "registeredUsers": 2081
      }
    ],
    "pincodes": [
      {
        "name": "744103",
        "registeredUsers": 15011
      },
      {
        "name": "744105",
        "registeredUsers": 13070
      },
      {
        "name": "744101",
        "registeredUsers": 12300
      },
      {
        "name": "744102",
        "registeredUsers": 8271
      },
      {
        "name": "744202",
        "registeredUsers": 4107
      },
      {
        "name": "744107",
        "registeredUsers": 3455
      },
      {
        "name": "744104",
        "registeredUsers": 3146
      },
      {
        "name": "744112",
        "registeredUsers": 2552
      },
      {
        "name": "744211",
        "registeredUsers": 2344
      },
      {
        "name": "744205",
        "registeredUsers": 2034
      }
    ]
  },
  "responseTimestamp": 1651127652105
}

In [43]:
def extract_top_user_data(data_path):
    records = []
    
    for state in os.listdir(data_path):
        state_path = os.path.join(data_path, state)
        
        for year in os.listdir(state_path):
            year_path = os.path.join(state_path, year)
            
            for file in os.listdir(year_path):
                if file.endswith(".json"):
                    file_path = os.path.join(year_path, file)
                    quarter = int(file.replace(".json", ""))
                    
                    with open(file_path, "r") as f:
                        data = json.load(f)
                    
                    for district in data["data"]["districts"]:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "entity_name": district["name"],
                            "entity_type": "district",
                            "registered_users": district["registeredUsers"]
                        })
                    
                    for pincode in data["data"]["pincodes"]:
                        records.append({
                            "state": state,
                            "year": int(year),
                            "quarter": quarter,
                            "entity_name": pincode["name"],
                            "entity_type": "pincode",
                            "registered_users": pincode["registeredUsers"]
                        })
    
    return pd.DataFrame(records)

In [44]:
top_user_path = "phonepe_data/data/top/user/country/india/state"

df_top_user = extract_top_user_data(top_user_path)

print(df_top_user.shape)
print(df_top_user.head())

(18296, 6)
                       state  year  quarter               entity_name  \
0  andaman-&-nicobar-islands  2022        1             south andaman
1  andaman-&-nicobar-islands  2022        1  north and middle andaman
2  andaman-&-nicobar-islands  2022        1                  nicobars
3  andaman-&-nicobar-islands  2022        1                    744103
4  andaman-&-nicobar-islands  2022        1                    744105

  entity_type  registered_users
0    district             63487
1    district             10720
2    district              2081
3     pincode             15011
4     pincode             13070

In [45]:
df_top_user.to_sql(
    "top_user",
    conn,
    if_exists="replace",
    index=False
)

print("Top user data saved!")

Top user data saved!

In [46]:
tables = ["aggregated_transaction", "aggregated_user", 
          "map_transaction", "map_user",
          "top_transaction", "top_user"]

for table in tables:
    df = pd.read_sql(f"SELECT COUNT(*) as rows FROM {table}", conn)
    print(f"{table}: {df['rows'][0]} rows")

aggregated_transaction: 5034 rows
aggregated_user: 1008 rows
map_transaction: 20604 rows
map_user: 20608 rows
top_transaction: 18295 rows
top_user: 18296 rows

In [47]:
df_states_check = pd.read_sql("SELECT DISTINCT state FROM aggregated_transaction", conn)
print(df_states_check)

                                 state
0            andaman-&-nicobar-islands
1                           tamil-nadu
2                          lakshadweep
3                            telangana
4                              manipur
5                              haryana
6                              gujarat
7                               sikkim
8                                delhi
9                          west-bengal
10                       uttar-pradesh
11                                 goa
12                              punjab
13                   arunachal-pradesh
14                           karnataka
15                     jammu-&-kashmir
16                         maharashtra
17                              odisha
18                      madhya-pradesh
19                           rajasthan
20                      andhra-pradesh
21                          chandigarh
22                              kerala
23                        chhattisgarh
24                             tripura
25                             mizoram
26                    himachal-pradesh
27  dadra-&-nagar-haveli-&-daman-&-diu
28                              ladakh
29                               assam
30                           meghalaya
31                         uttarakhand
32                          puducherry
33                               bihar
34                           jharkhand
35                            nagaland

In [48]:
state_name_mapping = {
    "andaman-&-nicobar-islands": "Andaman & Nicobar Island",
    "andhra-pradesh": "Andhra Pradesh",
    "arunachal-pradesh": "Arunachal Pradesh",
    "assam": "Assam",
    "bihar": "Bihar",
    "chandigarh": "Chandigarh",
    "chhattisgarh": "Chhattisgarh",
    "dadra-&-nagar-haveli-&-daman-&-diu": "Dadra and Nagar Haveli",
    "delhi": "Delhi",
    "goa": "Goa",
    "gujarat": "Gujarat",
    "haryana": "Haryana",
    "himachal-pradesh": "Himachal Pradesh",
    "jammu-&-kashmir": "Jammu & Kashmir",
    "jharkhand": "Jharkhand",
    "karnataka": "Karnataka",
    "kerala": "Kerala",
    "ladakh": "Ladakh",
    "lakshadweep": "Lakshadweep",
    "madhya-pradesh": "Madhya Pradesh",
    "maharashtra": "Maharashtra",
    "manipur": "Manipur",
    "meghalaya": "Meghalaya",
    "mizoram": "Mizoram",
    "nagaland": "Nagaland",
    "odisha": "Odisha",
    "puducherry": "Puducherry",
    "punjab": "Punjab",
    "rajasthan": "Rajasthan",
    "sikkim": "Sikkim",
    "tamil-nadu": "Tamil Nadu",
    "telangana": "Telangana",
    "tripura": "Tripura",
    "uttar-pradesh": "Uttar Pradesh",
    "uttarakhand": "Uttarakhand",
    "west-bengal": "West Bengal"
}

print("Mapping created!")

Mapping created!